@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#caixa{
    width: 500px;
    /* padding: 20px; */
   
}

fieldset{
    border:1px solid #d9d9d9;
    border-radius: 5px;
}

fieldset legend{
    text-align: center;
    font-weight: bold;
}

section form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

form label{
    margin-bottom: .25em;
    margin-top: .25em;
}

input[type='number']{
    padding: 7px;
    outline: none;
}

#btn{
    margin-top: .5em;
    padding: 10px;
    cursor: pointer;
}


/* resultado caixa */

#resultado{
    width: 500px;
    border:1px solid #d9d9d9;
    height: 100px;
    border-radius: 5px;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}