@charset "utf-8";

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

section#principal {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    border: 1px solid #d9d9d9;
    margin: 0 auto;
    height: 50vh;
    justify-content: center;
    padding: 10px;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;

}

fieldset {
    border: 1px solid #d9d9d9;
}

fieldset legend {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

form label {
    background-color: black;
    color: white;
    padding: 10px 5px;
    /* margin-bottom: .1em; */
    border-radius: 3px;
}

input[type='number'] {
    padding: 10px;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 1px;
}

#btn {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 5px;

}

#btn:hover {
    background-color: black;
    transition: all linear .5s;
    border: 1px solid #050505;
    color: white;
    border-radius: 5px;
}


#resultado {
    width: 500px;
    border: 1px solid #d9d9d9;
    height: auto;
    border-top: none;
    padding: 10px;
   
}

#resultado h1 {
    text-align: center;
}

#caixa {
    border: 1px solid #d9d9d9;
    height: 21vh;
    width: 29vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}


#superior_esquerdo {
    border: 1px solid;
    display: block;
    width: 150px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-right: none;
    border-bottom: none;
    padding: 10px;
    height: 55px;
}


#superior_direito {
    display: block;
    width: 150px;
    border: 1px solid;
    border-top: none;
    border-right: none;
    border-right: none;
    padding: 10px;
    height: 55px;
}


#inferior_esquerdo {
    padding: 10px;
    height: 55px;
    display: inline-block;
    border:1px solid;
    /* width: 20vw; */
    width: 150px;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;

}

#inferior_direito{
    padding: 10px;
    height: 55px;
    display: inline-block;
    border:1px solid;
    /* width: 20vw; */
    width: 150px;
    border-bottom: none;
    border-right: none;
    border-top: none;
}